body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box; }
  body nav {
    text-align: left;
    padding: 0; }
  body p {
    z-index: 100 !important; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    z-index: 100 !important; }
  body .adptiveMenu {
    z-index: 999 !important; }
  body .headerB {
    z-index: 599; }
    body .headerB ul {
      list-style-type: none;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 13px; }
      body .headerB ul a {
        color: black;
        transition-property: color;
        transition-duration: 0.2s; }
      body .headerB ul a:hover {
        color: #ed1c24;
        text-decoration: none; }
    body .headerB li {
      list-style-type: none;
      padding: 10px 15px;
      transition-property: background;
      transition-duration: 3s; }
      body .headerB li #bacRed {
        background-color: red;
        color: white;
        padding: 7px 7px;
        cursor: pointer;
      }
      body .headerB li #bacRed:hover{
        background-color: #e74c3c;
      }
#object{
    margin-left: 20px;
}
#octoImg{
  height: 115%;
  top: -15%;
  right: 0;
  position: absolute;
  z-index: -1;
}
#mainUp{
  position:relative;
}
#imgInHL {
  padding: 0 15px;
  width: 100px;
  height: auto; }
#siteType{
    color: white;
    text-align: center;
    margin-top: 2%;
}
#subSiteType{
    color: #979797;
    text-align: center;
    margin-left: 200px;
    font-style: italic;
}
#line{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.headerWrapperL{
  margin-top: 190px;
  width: 83%;
}
.headerWrapperL h3{
  color:white;
}
.headerWrapperL p{
  color: #979797;
  font-style: italic;
}
#iconHL{
  position: relative;
  right: -40px;
}
.headerWrapperR{
  margin-top: 50px;
  width: 83%;
  margin-left: 80px;
}
.headerWrapperR h3{
  color:white;
}

.headerWrapperR h3::before{
  content: url(../img/icon.png);
  position:absolute;
  left: 40px;
  top:55px;
}
.headerWrapperR p{
  color: #979797;
  font-style: italic;
}
.headerWrapperLS{
  margin-top:70px;
  width: 83%;
}
.headerWrapperLS h3{
  color:white;
}
.headerWrapperLS p {
  color: #979797;
  font-style: italic;
}

.headerWrapperRI{
  margin-top: 60px;
  width: 83%;
  margin-left: 80px;
}
.headerWrapperRI h3{
  color:white;
}
.headerWrapperRI h3::before{
  content: url(../img/icon.png);
  position:absolute;
  left: 40px;
  top:75px;
}
.headerWrapperRI p {
  color: #979797;
  font-style: italic;
}

.servButton{
  position: relative;
  margin: 10% auto;
  color: white;
  border: 5px solid white;
  padding: 7px 0;
  width: 25%;
  text-align: center;
}

.servButton a{
  color: white;
}
.servButton a:hover {
  color: lightgray; }



#LInH {
  background-color: #ed1c24;
  color: white !important;
  padding: 10px; }

#LInH:hover {
  color: black !important; }

.imgS {
  display: flex;
  justify-content: flex-end; }

.imgR {
  z-index: 0;
  height: auto;
  position: absolute;
  top: -0.1%; }
  .imgR img {
    max-width: 95.6%;
    height: auto;
    float: right; }

.octH {
  z-index: 100;
  border-radius: 3px;
  margin-top: 100px; }
  .octH h1 {
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    display:inline;
    -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.7);
    -moz-box-shadow: 0 0 10px 5px rgba(255,255,255,0.7);
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.7);
  }
  .octH p {
    color: #999999;
    margin-left: 60px;
    text-align: left; }
  .octH p span{
    display:inline;
    background-color:rgba(255,255,255,0.7);
    -webkit-box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
    -moz-box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
    box-shadow: 0 0 4px 2px rgba(255,255,255,0.7);
  }

.infoO {
  z-index: 100; }
  .infoO h1 {
    font-size: 60px; }

.BuCen {
  color: black;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  justify-content: center;
  margin-top: 100px;
  border: solid 1px black;
  width: 200px;
  cursor: pointer; }
  .BuCen p {
    padding: 10px;
    margin: 0; }
.BuCen:hover{
  background-color: rgba(201, 201, 201, 0.75);
}
.BuCen:hover p{
  color: #ffffff;
}
.Post {
  display: flex;
  justify-content: center; }

.pointers {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 270px; }

#down {
  margin-bottom: 20px;
  -webkit-animation: downUp 2s infinite alternate;
  -o-animation: downUp 2s infinite alternate;
  animation: downUp 2s infinite alternate;
  background-color:rgba(255,255,255,0.7);
  -webkit-box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
  -moz-box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
  box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
  cursor: pointer;

}

@keyframes downUp {
  from {
  }
  to {
    transform: translateY(-20px);
  }
}

.OneSec {
  width: 100%;
  height: 100%;
  background-color: #363636;
  z-index: 100;
  position: relative;
}

.LineP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; }
  .LineP h2 {
    color: white; }
  .LineP p {
    color: #979797;
    margin-left: 100px;
    font-style: italic; }
  .LineP #imgLineMain {
    max-width: 50%;
    height: auto;
    z-index: 1; }
.imgBlock {
  display: flex;
  justify-content: center;
  align-items: center; }

.Serv {
  color: white;
  border: 5px solid white;
  padding: 7px 0px;
  margin-top: 50px; }
  .Serv a {
    color: white; }
  .Serv a:hover {
    color: lightgray; }
  .Serv h2 {
    cursor: pointer;
    width: 300px;
    height: 35px;
    text-align: center; }

.blInF {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; }

.TwoSec {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 50px; }
  .TwoSec h1 {
    font-weight: 300; }
  .TwoSec p {
    color: #979797; }
.ThereSec {
    background-color: #000;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  /*background-image: url(../img/ServicesBackground.svg);*/
  max-width: 100%;
  height: auto;
  padding-bottom: 213px; }

#imgSB {
  width: 100%;
  height: auto;
  position: relative; }

.hInImg {
  text-align: center;
  margin-top: 15%;
  color: white; }
  .hInImg p {
    color: #979797;
     }
.readmore{
    position: relative;
    margin: 0 auto;
    height: 45px;
    width: 300px;
}

#mobile-types{
  display: none;
}

.willHide{
    display: block;
}

.FourSec {
  width: 100%;
  height: 1000px; }

.infoFS {
  text-align: center;
  margin-top: 100px; }
  .infoFS p {
    color: #979797; }

.inpInF {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .inpInF input {
    max-width: 100%;
    margin: 10px 0;
    height: 50px;
    text-align: center; }
  .inpInF #spaL {
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 160px; }

.test {
  float: left;
  z-index: 999; }
  .test h3 {
    color: white; }
  .test p {
    color: #979797; }

.conFImg {
  display: flex;
  align-items: center;
  justify-content: center; }
  .conFImg .oneObj, .conFImg .twoObj {
    padding: 100px 60px; }
    .conFImg .oneObj i, .conFImg .twoObj i {
      font-size: 25px; }

.butnInF {
  font-size: 23px;
  background-color: white;
  border: 5px solid black;
  padding: 5px 0;
  width: 62%;
  margin: 20px 0; }

.butnInFTwo {
  color: white;
  font-size: 23px;
  background-color: black;
  border: 5px solid black;
  padding: 5px 0;
  width: 100%;
  text-align: center; }

#contacts_save {
  width: 100%; }

.butnInF:hover {
  box-shadow: 1px 1px 10px #979797;
  cursor: pointer; }

.butnInFTwo:hover {
  box-shadow: 1px 1px 10px #979797;
  cursor: pointer; }

#footer{
  width: 100%;
  height: 10vh;
}

#etaps-mobile{
  display: none;
}

.iconsMes {
  display: flex;
  justify-content: center;
   }
  .iconsMes i {
    font-size: 24px;
    padding: 0 10px; }
  .iconsMes a {
    color: black; }
  .iconsMes a:hover {
    color: #979797; }

.listF ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 13px;}
  .listF ul li {
    padding: 25px 25px; }
  .listF ul a {
    color: black; }
  .listF ul a:hover {
    color: #ed1c24; }

.listF ul li #FotRg{
  width: 130%;
  color: #bbbbbb;
  display: block;
  position: relative;
  }
.listF ul li #FotLf{
  width: 130%;
  color: #bbbbbb;
  display: block;
  position: relative;
}
#FotL {
  width: 30%;
  padding-right: 85px;
  color: #bbbbbb; }
#octInf{
  text-align: center;
}
#FotR {
  padding-left: 75px; }
  #FotR li {
    display: flex;
    flex-direction: column;
    color: #bbbbbb;
    text-align: center; }

.infBlock {
  display: flex;
  align-items: center; }

.artO {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 120px 0; }
  .artO h3 {
    color: white; }
  .artO p {
    color: #979797;
    font-style: italic; }

.artO h3::before {
  content: url(../img/icon.png); }

.algN {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px; }

.algF {
  display: flex;
  flex-direction: column;
  padding-top: 200px; }

.test {
  color: red;
  background-color: white; }

.blockCol {
  display: flex;
  flex-direction: row;
  text-align: center; }
  .blockCol div {
    width: 100%;
    margin-top: 50px; }
    .blockCol div p {
      font-size: 14px; }

.brifC a {
  display: flex;
  justify-content: center;
  align-items: center; }

.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: center; }
  .buttonBlock div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; }
    .buttonBlock div p {
      color: black !important;
      text-align: center;
      align-items: center; }

.firstButton {
  font-size: 23px;
  border: 3px solid black;
  text-align: center;
  align-items: center;
  padding: 13px 25px 0 25px; }

.twoButton {
  font-size: 23px;
  color: white;
  background-color: red;
  padding: 17px !important;
  margin-left: 20px !important; }

.blogTextInf {
  color: #979797;
  text-align: center;
  line-height: 30px;
  margin-top: 100px; }
  .blogTextInf b {
    font-size: 20px; }

.buttonInInfBlock {
  display: flex;
  justify-content: center;
  margin-top: 150px; }
  .buttonInInfBlock button {
    padding: 15px 35px;
    border: none;
    background-color: white;
    cursor: pointer; }

.articleTwo {
  text-align: center; }

.headT {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 25px 10px; }

#noBorder {
  list-style-type: none;
  text-decoration: none; }

#adaptiveIMG {
  max-width: 100%; }

/*# sourceMappingURL=style.css.map */
