body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

  nav {
    text-align: left;
    padding: 0;
  }



    p {
      z-index: 100 !important;
    }

    h1, h2, h3, h4, h5, h6 {
      z-index: 100 !important;
    }

    .adptiveMenu {
      z-index: 999 !important;
    }



.headerB {
    z-index: 599;
    ul {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        
        a {
            color: black;
        }
        
        a:hover {
            color: #ed1c24;
            text-decoration: none;
        }
    }

        li {
            list-style-type: none;
            padding: 10px 15px;

          #bacRed {
            background-color: red;
            color: white;
            padding: 7px 5px;
          }
        }
    }
}

#imgInHL {
  padding: 0 15px;
  width: 100px;
  height: auto;
}

#LInH {
    background-color: #ed1c24;
    color: white !important;
   padding: 10px;
}
#LInH:hover { 
    color: black !important;
 }


 .imgS {
    display: flex;
    justify-content: flex-end;
 }

 .imgR {
     z-index: 0;
     height: auto;
     position: absolute;
     top: -1px;
     img {
         max-width: 89.3%;
         height: auto;
         float: right;
     }
 }
.octH {
    z-index: 100;
    margin-top: 100px;
    h1 {
        font-size: 50px;
        font-weight: 300;
    }
    p {
        color: #999999;
        margin-left: 60px;
    }
}

 .infoO {
     z-index: 100;
     h1 {
         font-size: 60px;
     }
 }

 .BuCen {
     color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 100px;
     border: solid 1px black;
     width: 200px;
     cursor: pointer;
     p {
         padding: 10px;
         margin: 0;
     }
 }
 
 .Post {
     display: flex;
     justify-content: center;
 }

 .pointers {
     max-width: 100%;
     height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 270px;
 }


 .OneSec {
     width: 100%;
     height: 1350px;
     background-color: #363636;
     z-index: 100;
     margin-top: 43px;
 }

 .LineP {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 50px;

     

    h2 {
        color: white;
    }
    p {
        color: #979797;
        margin-left: 100px;
        font-style: italic;
    }

     #imgLineMain {
      max-width: 50%;
      height: auto;
      z-index: 1;
      
     }
 }

 .imgBlock {
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .Serv {
    color: white;
    border: 5px solid white;
    padding: 10px 100px;
    margin-top: 50px;

   a {
     color: white;
   }

   a:hover {
      color: lightgray;
   }

   h2 {
    cursor: pointer;
   }
}

.blInF {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

}

.TwoSec {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
    h1 {
        font-weight: 300;
    }
    p {
        color: #979797;
    }
}

.ThereSec {
    background-image: url(../img/ServicesBackground.svg);
    max-width: 100%;
    height: auto;
    padding-bottom: 283px;
}

#imgSB {
    width: 100%;
    height: auto;
    position: relative;
}

.hInImg {
    text-align: center;
    margin-top: 300px;
    color: white;
    p {
        color: #979797;
        margin-left: 40px;
    }
}

.FourSec {
    width: 100%;
    height: 1000px;
}

.infoFS {
    text-align: center;
    margin-top: 100px;
    p {
        color: #979797;
    }
}

.inpInF {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        max-width: 100%;
        margin: 10px 0;
        height: 50px;
        text-align: center;
    }
    #spaL {
        height: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 160px;
    }
}

.test {
    float: left;
    h3 {
        color: white
    }
    p {
        color: #979797;
    }
    z-index: 999;
}

.conFImg {
    display: flex;
    align-items: center;
    justify-content: center;

    .oneObj, .twoObj {
        padding: 100px 60px;
        i {
            font-size: 25px;
        }
    }
}

.butnInF {
    font-size: 23px;
    background-color: white;
    border: 5px solid black;
    padding: 5px 0;
    width: 62%;
    margin: 20px 0;
}

.butnInFTwo {
    color: white;
    font-size: 23px;
    background-color: black;
    border: 5px solid black;
    padding: 5px 0;
    width: 100%;
    text-align: center;
 }

#contacts_save {
  width: 100%;
}

 .butnInF:hover {
     box-shadow: 1px 1px 10px #979797;
     cursor: pointer;
 }

 .butnInFTwo:hover {
    box-shadow: 1px 1px 10px #979797;
    cursor: pointer;
 }

 .iconsMes {
     i {
         font-size: 24px;
         padding: 0 10px;
     }
     a {
         color: black;
     }
     a:hover {
         color: #979797;
     }
     display: flex;
     justify-content: center;
     margin-top: 200px;
 }

 .listF {
     ul {
         list-style-type: none;
         display: flex;
         justify-content: center;
         font-size: 13px;
         li {
             padding: 25px 25px;
         }
         a {
             color: black;
         }
         a:hover {
             color: #ed1c24;
         }
     }
 }

 #FotL {
     padding-right: 85px; 
     color: #bbbbbb;
 }

 #FotR {
     padding-left: 85px;
     li {
        display: flex;
        flex-direction: column;
        color: #bbbbbb;
        text-align: center;
     }
 }

 .infBlock {
     display: flex;
     align-items: center;
 }

 .artO {
     text-align: center;
     display: flex;
     flex-direction: column;
     padding: 120px 0;
     h3 {
        color: white;
     }
     p {
        color: #979797;
        font-style: italic;
     }
 }

 .artO {
     h3::before {
        content: url(../img/icon.png);
     }
     
 }


 .algN {
     display: flex;
     flex-direction: column;
     padding-bottom: 200px;
 }


 .algF {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}


.test {
  color: red;
  background-color: white;
}

.blockCol {
    display: flex;
    flex-direction: row;
    text-align: center;

    div {
      width: 100%;
      margin-top: 50px;
      p {
        font-size: 14px;
      }
    }
}

.brifC {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
  }

}

.buttonBlock {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;

        p {
            color: black !important;
            text-align: center;
            align-items: center;
        }
        
    }
    
}

.firstButton {
    font-size: 23px;
    border: 3px solid black;
    text-align: center;
    align-items: center;
    padding: 13px 25px 0 25px;
}

.twoButton {
    font-size: 23px;
    color: white;
    background-color: red;
    padding: 10px !important;
    margin-left: 20px !important;

}

.blogTextInf {
    color: #979797;
    text-align: center;
    line-height: 30px;
    margin-top: 100px;
  b {
    font-size: 20px;
  }
}

.buttonInInfBlock {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    button {
        padding: 10px 20px;
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

//                                                                  //Adaptive menu
//
//
//.menu ul {
//
//  list-style: none;
//  margin: 0;
//  padding: 0;
//
//  li {
//    cursor: pointer;
//    padding: 6px 20px;
//    font-size: 48px;
//  }
//
//}
//
//.menu-toggle {
//
//  .menu {
//    position: fixed;
//    top: 50%;
//    left: 50%;
//    -webkit-transform: translate3d(-50%, -50%, 0);
//    transform: translate3d(-50%, -50%, 0);
//    -webkit-backface-visibility: hidden;
//    backface-visibility: hidden;
//    -webkit-perspective: 1000px;
//    perspective: 1000px;
//    color: white;
//  }
//  .menu li {
//    opacity: 0;
//    text-align: center;
//    -webkit-transform: translate3d(0, 36px, 0);
//    transform: translate3d(0, 36px, 0);
//  }
//  .menu li:before {
//    content: '';
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    margin: auto;
//    left: auto;
//    background-color: white;
//    height: 100%;
//    width: 0;
//    overflow: hidden;
//    -webkit-transition: width 0.14s ease-out;
//    transition: width 0.14s ease-out;
//  }
//  .menu li:after {
//    opacity: 0;
//    content: attr(data-text);
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    margin: auto;
//    color: #98B296;
//    overflow: hidden;
//    -webkit-transform: translate(-24px, 6px);
//    transform: translate(-24px, 6px);
//    -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
//    transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
//    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
//    transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
//  }
//  .menu li:hover:before {
//    left: 0;
//    right: auto;
//    width: 100%;
//  }
//  .menu li:hover:after {
//    opacity: 1;
//    padding: 0 20px;
//    -webkit-transform: translate(0px, 6px);
//    transform: translate(0px, 6px);
//    -webkit-transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
//    transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
//    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
//    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
//  }
//}
//
//
//.menu-toggle button {
//  opacity: 0.6;
//  background-color: transparent;
//  position: fixed;
//  z-index: 2;
//  top: 24px;
//  left: 24px;
//  border: none;
//  width: 36px;
//  height: 30px;
//  outline: none;
//  -webkit-transition: opacity 0.2s ease-out;
//  transition: opacity 0.2s ease-out;
//
//  button:before {
//    content: "";
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    margin: auto;
//    right: auto;
//    width: 100%;
//    background: -webkit-gradient(linear, left top, left bottom, from(#98B296), color-stop(20%, #98B296), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #98B296), color-stop(60%, #98B296), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #98B296), to(#98B296));
//    background: linear-gradient(to bottom, #98B296, #98B296 20%, transparent 20%, transparent 40%, #98B296 40%, #98B296 60%, transparent 60%, transparent 80%, #98B296 80%, #98B296 100%);
//    -webkit-transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
//    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
//  }
//
//  button:after {
//    opacity: 0;
//    content: '×';
//    color: white;
//    position: absolute;
//    top: 16px;
//    left: -4px;
//    font-family: Arial, sans-serif;
//    font-size: 76px;
//    line-height: 0;
//    -webkit-transition: opacity 0.4s ease-out;
//    transition: opacity 0.4s ease-out;
//  }
//  button:active {
//    -webkit-transform: translateY(2px);
//    transform: translateY(2px);
//  }
//
//  button:hover {
//    opacity: 1;
//  }
//
//  nav {
//    z-index: 1;
//    position: fixed;
//    top: -100%;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    -webkit-transform: translate3d(0, 0, 0);
//    transform: translate3d(0, 0, 0);
//    -webkit-backface-visibility: hidden;
//    backface-visibility: hidden;
//    overflow: hidden;
//  }
//  nav:before {
//    content: '';
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    margin: auto;
//    background: rgba(123, 156, 121, 0.98);
//    width: 100%;
//    height: 0;
//    padding-bottom: 100%;
//    border-radius: 100%;
//    -webkit-transform: scale(0.04); // translateY(9999px);
//    transform: scale(0.04); //translateY(9999px);
//    overflow: hidden;
//  }
//
//}
//
//
//
//
//.open {
//
//  button {
//    opacity: 1;
//  }
//
//  button:before {
//    opacity: 0;
//    width: 0;
//  }
//
//  button:after {
//    opacity: 1;
//    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
//    transform: translate3d(0, 0, 0) rotate(360deg);
//    -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
//    transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
//    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
//    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
//  }
//
//  button:after {
//    opacity: 1;
//    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
//    transform: translate3d(0, 0, 0) rotate(360deg);
//    -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
//    transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
//    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
//    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
//  }
//
//}
//
//
//.open {
//  nav {
//    top: 0;
//  }
//
//  nav:before {
//    -webkit-animation: menu-animation 0.8s ease-out forwards;
//    animation: menu-animation 0.8s ease-out forwards;
//  }
//
//
//}
//
//.open ul.menu li {
//  opacity: 1;
//  -webkit-transform: translate3d(0, 0, 0);
//  transform: translate3d(0, 0, 0);
//  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
//  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
//  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
//  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
//}
//.open ul.menu li:nth-child(1) {
//  -webkit-transition-delay: 0.75s;
//  transition-delay: 0.75s;
//}
//.open ul.menu li:nth-child(2) {
//  -webkit-transition-delay: 0.85s;
//  transition-delay: 0.85s;
//}
//.open ul.menu li:nth-child(3) {
//  -webkit-transition-delay: 0.95s;
//  transition-delay: 0.95s;
//}
//.open ul.menu li:nth-child(4) {
//  -webkit-transition-delay: 1.05s;
//  transition-delay: 1.05s;
//}
//
//
//
//@-webkit-keyframes menu-animation {
//  0% {
//    opacity: 0;
//    -webkit-transform: scale(0.04) translateY(300%);
//    transform: scale(0.04) translateY(300%);
//  }
//  40% {
//    -webkit-transform: scale(0.04) translateY(0);
//    transform: scale(0.04) translateY(0);
//    -webkit-transition: ease-out;
//    transition: ease-out;
//  }
//  40% {
//    -webkit-transform: scale(0.04) translateY(0);
//    transform: scale(0.04) translateY(0);
//  }
//  60% {
//    opacity: 1;
//    -webkit-transform: scale(0.02) translateY(0px);
//    transform: scale(0.02) translateY(0px);
//  }
//  61% {
//    -webkit-transform: scale(0.04);
//    transform: scale(0.04);
//  }
//  99.9% {
//    height: 0;
//    padding-bottom: 100%;
//    border-radius: 100%;
//  }
//  100% {
//    -webkit-transform: scale(2);
//    transform: scale(2);
//    height: 100%;
//    padding-bottom: 0;
//    border-radius: 0;
//  }
//}
//
//@keyframes menu-animation {
//  0% {
//    opacity: 0;
//    -webkit-transform: scale(0.04) translateY(300%);
//    transform: scale(0.04) translateY(300%);
//  }
//  40% {
//    -webkit-transform: scale(0.04) translateY(0);
//    transform: scale(0.04) translateY(0);
//    -webkit-transition: ease-out;
//    transition: ease-out;
//  }
//  40% {
//    -webkit-transform: scale(0.04) translateY(0);
//    transform: scale(0.04) translateY(0);
//  }
//  60% {
//    opacity: 1;
//    -webkit-transform: scale(0.02) translateY(0px);
//    transform: scale(0.02) translateY(0px);
//  }
//  61% {
//    -webkit-transform: scale(0.04);
//    transform: scale(0.04);
//  }
//  99.9% {
//    height: 0;
//    padding-bottom: 100%;
//    border-radius: 100%;
//  }
//  100% {
//    -webkit-transform: scale(2);
//    transform: scale(2);
//    height: 100%;
//    padding-bottom: 0;
//    border-radius: 0;
//  }
//}
