{% extends 'base.html.twig' %}

{% block title %}AboutUs{% endblock %}

{% block body %}

<nav class="AbtN">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 hText">
                    <h1>OctoWice</h1>
                    <p>Команда скромных специалистов. Почему так? Однозначно сейчас прорыв в ИТ индустрии и каждый хочет свой сайт сделанный отлично без проблем. Такие сайты достаточно дорогие. Мы сделали разные тарифы для вашего удобства.   </p>
                </div>
            </div>
        </div>
</nav>

<main>



    <section class="WhaWeBeliIn">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 infInBeli">
                    <h2>Во что мы верим?</h2>
                    <p>Наши главные парадигмы в компании</p>
                </div>
            </div>


        </div>

        <div class="bgBl">

            <div class="container">
            <div class="posSh">
                <div class="row">
                    <div class="col-lg-2 col-md-2 blBloInBeli"></div>
                    <div class="col-lg-2 col-md-2 blBloInBeli"></div>
                    <div class="col-lg-2 col-md-2 blBloInBeli"></div>
                    <div class="col-lg-2 col-md-2 blBloInBeli"></div>
                    <div class="col-lg-2 col-md-2 blBloInBeli"></div>
                </div>

                <div class="row textBeli">
                    <p>Цена - наши услуги стоят пользе которую они приносят. Всё что дорого и безрезультатно - лишнее</p>
                    <p>Уверенность в будущем ИТ - мы несем в массы - “За ИТ будущее”. Бизнес который сейчас не освоил или не пытается освоить интернет умрет в скором времени.</p>
                    <p>Нет проекта клиента - все проекты клиентов, которые мы ведем - наша ответственность. Есть только один выход из ситуации - сделать проект успешным.</p>
                    <p>Человечность - города, большие компании, традиции и многое другое это результат работы людей. Мы не люди, мы должны быть человечными</p>
                    <p>Продукт - Мы уверены в своих силах и предоставляемых услугах. Начиная от анализа конкурентов и заканчивая загрузкой готового проекта на хостинг, мы проверяем сами себя по несколько раз и предосовляем вам возможность проверить</p>
                </div>
            </div>
        </div>

        </div>


    </section>



    <section class="ourValu">
        <div class="container">
            <div class="row frR">
                <h2>Наши Ценности!</h2>
                <p>что мы ценим в компании?</p>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 imgV">
                    <img class="imgInfValu" src="/img/Shape.png" alt="shape">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 twBlInVal">
                    <p>Интеллектуальный труд и ответственность</p>
                    <p>Человечность с клиентами</p>
                    <p>Ориентированность на качество</p>
                </div>
            </div>
        </div>

    </section>

    <section class="ourWork">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 infInWork">
                    <h2>Во что мы верим?</h2>
                    <p>В трезвый дух и бодрый взгляд</p>
                </div>
            </div>

            <div class="row blInW">

                <div class="col-lg-4 col-md-4 blockW">
                    <div id="infW">
                        <img src="" alt="">
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 blockW">
                    <div id="infW">
                        <img src="" alt="">
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 blockW">
                    <div id="infW">
                        <img src="" alt="">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 blockW">
                    <div id="infW">
                        <img src="" alt="">
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 blockW">
                    <div id="infW">
                        <img src="" alt="">
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 blockW">
                    <div id="infW">
                        <img src="" alt="">
                    </div>
                </div>

            </div>

        </div>


    </section>


    <section class="FourSec">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 infoFS">
                    <h1>Наши Контакты</h1>
                    <p><small><i>Свяжись с нами. Работаем с 10:00 - 19:00</i></small></p>
                    <div class="conFImg">
                        <div class="oneObj">
                            <i class="fas fa-phone"></i>
                            <p><small>38(066)010-51-78</small></p>
                        </div>
                        <div class="twoObj">
                            <i class="fas fa-envelope"></i>
                            <p><small>octowice@gmail.com</small></p>
                        </div>
                    </div>


                </div>
            </div>

            {{ render_esi(url(
                'contacts'
            )) }}
        </div>

    </section>


</main>
{% endblock %}