{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    <nav>
        <section class="imgS">
            <div class="imgR">
                <img src="/img/octopus.jpg" alt="octopus" />
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 octH">
                        <h1>OctoWice - мы лучшая веб-студия!</h1>
                        <p>
                            Вы офигеете от нашего профессионализма,<br> где вы найдете ещё такую
                            команду?
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="Post">
                            <div class="BuCen">
                                <p>Кто мы такие?</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 pointers">
                        <img src="/img/pointers.jpg" alt="pointers">
                    </div>
                </div>
            </div>
        </section>



    </nav>




    <main>


        <section class="OneSec">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 LineP">
                        <h2>Приемущества?</h2>
                        <p><small>Вот почему мы лучший выбор: </small></p>
                    </div>
                </div>

                <article class="infBlock">

                    <div class="algN">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 artO">
                                <h3>
                                    Пункт почему мы лучше
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nihil impedit animi ratione,
                                    veniam eveniet.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 artO">
                                <h3>
                                    Пункт почему мы лучше
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nihil impedit animi ratione,
                                    veniam eveniet.</p>
                            </div>
                        </div>
                    </div>


                    <div class="imgBlock">
                        <img id="imgLineMain" src="/img/EllipseOne.png" alt="Line">
                    </div>

                    <div class="algF">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 artO">
                                <h3>
                                    Пункт почему мы лучше
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nihil impedit animi ratione,
                                    veniam eveniet.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 artO">
                                <h3>
                                    Пункт почему мы лучше
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nihil impedit animi ratione,
                                    veniam eveniet.</p>
                            </div>
                        </div>
                    </div>


                </article>


            </div>


            <div class="blInF">
                <div class="Serv">
                    <h2>Наши услуги</h2>
                </div>
            </div>


        </section>


        <section class="TwoSec">

            <h1>Этапы создания сайта</h1>
            <p>Через что мы пройдем вмести с Вами?</p>


            <div class="blockOne">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 blockCol">

                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aut magni excepturi eos delectus ut?</p>
                                <h3>Старт</h3>
                            </div>

                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aut magni excepturi eos delectus ut?</p>
                                <h3>Старт</h3>
                            </div>

                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aut magni excepturi eos delectus ut?</p>
                                <h3>Старт</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="blockTwo">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <img src="/img/RectangleOne.png" alt="Rectangle" width="100%">
                        </div>
                    </div>
                </div>

            </div>

            <div class="blockThere">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 blockCol">

                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aut magni excepturi eos delectus ut?</p>
                                <h3>Старт</h3>
                            </div>

                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aut magni excepturi eos delectus ut?</p>
                                <h3>Старт</h3>
                            </div>

                            <div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aut magni excepturi eos delectus ut?</p>
                                <h3>Старт</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="buttonBlock">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <a href="#">
                                <div class="firstButton">
                                    <p>Заполнить Бриф</p>
                                </div>
                            </a>

                            <a href="#">
                                <div class="twoButton">Позвоните мне</div>
                            </a>

                        </div>
                    </div>
                </div>

            </div>


        </section>


        <section class="ThereSec">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 hInImg">
                        <h1>Есть желание узнать больше?</h1>
                        <p>Получите больше информации в нашем блоге</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 blogTextInf">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis vitae, sunt esse reiciendis illo dolores ullam ea velit? Minus praesentium itaque debitis perferendis perspiciatis eius id laudantium quod, possimus repellat, quis inventore doloribus, quibusdam voluptatem qui recusandae velit odio. Quisquam quam excepturi rerum velit consequuntur magnam officiis, distinctio reprehenderit molestiae soluta illum mollitia qui non deserunt cum quaerat itaque ipsum molestias aperiam ex atque adipisci. Aliquam animi aut dolorem eligendi maiores saepe debitis dolore doloremque veritatis voluptatum. Cum esse fugit autem reprehenderit consectetur, aperiam odit sint fuga molestias provident possimus facilis, nemo quasi. Possimus, distinctio autem aliquam, earum obcaecati, consequatur quae deserunt consequuntur quod vel facere ducimus omnis eos sapiente exercitationem rerum aut eveniet asperiores corporis blanditiis atque nesciunt repudiandae cum optio? Totam aspernatur, ea tenetur at eaque asperiores quas ad quia labore voluptas dolorum illo culpa. Ea ex saepe exercitationem labore praesentium, minus accusamus rerum nemo nulla harum inventore. Velit numquam nemo, pariatur, assumenda alias libero doloribus facere maxime, dolorem repellat voluptates quae perspiciatis? Eaque atque beatae architecto distinctio totam sequi, necessitatibus inventore ullam, ipsam nulla excepturi rerum sunt alias pariatur culpa veritatis? Esse officiis quisquam voluptatum ratione, totam aspernatur ad odit laboriosam quia eius blanditiis accusantium excepturi dolorum distinctio architecto ducimus repellat soluta corporis? Nam perspiciatis quibusdam pariatur modi, nesciunt rem rerum! Minus distinctio pariatur quisquam exercitationem incidunt rem nulla quas quasi repudiandae, temporibus consequuntur eos delectus voluptatum ea sit quod maiores vitae mollitia possimus veniam adipisci esse in modi? Exercitationem recusandae cum illo similique magnam iste facere ipsam nihil sed molestias adipisci expedita eaque quas laboriosam iusto enim ratione consequatur quo inventore hic, sapiente tenetur repellendus aliquam! Doloremque fuga, autem ea itaque adipisci eveniet non numquam mollitia, optio totam rerum harum odit corporis quasi accusantium! Praesentium fugiat neque vel quisquam nihil cumque, enim ex rem labore repellendus.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 buttonInInfBlock">
                        <a href="#"><button>Читать Дальше</button></a>
                    </div>
                </div>


            </div>





        </section>



        <section class="FourSec">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 infoFS">
                        <h1>Наши Контакты</h1>
                        <p><small><i>Свяжись с нами. Работаем с 10:00 - 19:00</i></small></p>
                        <div class="conFImg">
                            <div class="oneObj">
                                <i class="fas fa-phone"></i>
                                <!-- <img src="/OctoWiceNew/img/Phone.svg" alt="phone"> -->
                                <p><small>38(066)010-51-78</small></p>
                            </div>
                            <div class="twoObj">
                                <i class="fas fa-envelope"></i>
                                <!-- <img src="/OctoWiceNew/img/Mail.svg" alt="mail"> -->
                                <p><small>octowice@gmail.com</small></p>
                            </div>
                        </div>



                    </div>
                </div>
        {{ render_esi(url(
            'contacts'
        )) }}
            </div>
    </section>
</main>
{% endblock %}