{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}


    <nav class="SrvN">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 navB">
                    <h1>Создание интернет магазина</h1>
                    <p>В сравнении с человеком, ваш сайт продает круглосуточно!</p>
                </div>
            </div>
            <div class="row butPos">
                <div class="col-lg-12 col-md-12 butInNav">
                    <p>Заказать звонок</p>
                </div>
            </div>
        </div>

    </nav>



    <main>

        <section class="contactUs">

            <div class="container">
                {#<div class="row">#}
                    {#<div class="col-lg-12 col-md-12 iconsBl">#}
                        {#<i id="oneI" class="fas fa-phone"></i>#}
                        {#<i id="twoI" class="far fa-comment"></i>#}
                    {#</div>#}
                </div>

                <div class="row desScr">
                    <h2>Что входит в разработку интернет магазина?</h2>
                    <p>c нашей командой</p>
                </div>

                <div class="row fiveBlockContUs">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="row fiveBlockInfUs">
                    <div><p>Личный ассистент который всегда готов вам помочь, и отдельная команда разработчиков</p></div>
                    <div><p>Использование актуальных технологий, что даст низкое устаревание проекта</p></div>
                    <div><p>Полная адаптивность вашего сайта-визитки</p></div>
                    <div><p>Посадочная страница будет подготовлена к продвижению в поисковых системах</p></div>
                    <div><p>Полное следование срокам и техническая поддержка на протяжении срока согласно вашего тарифа</p></div>
                </div>

            </div>

        </section>

        <section class="descOfServ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 infoServ">
                        <h1>Разработка интернет магазина удобнее шаблонного решения?</h1>
                        <br>
                        <p>За последние годы интернет бизнес набрал высокого уровня развития, каждая уважающая себя компания создает сайты, интернет площадки. Практически каждый 2 пользователь заходит на сайты чаще чем спрашивает людей где и что купить. Не имея интернет страницы - вы теряете ощутимый пласт рынка.</p>
                        <p>Интернет магазин – лучшая площадка для показа вашего товара и его продажи. Красивое оформление, хорошо подобранный контент, это не всё что мы можем предложить при создании вашего интернет магазина. Удобность, понятность на уровне жестов, красота – главные рычаги для задержки клиента на вашем сайте. Именно это поможет задержать вашего клиента и предложить ему лучшую услугу или продукт на рынке.</p>
                        <br>
                        <p>Удобность  - один из самых важных факторов в этом обширном понятии это адаптивность. Порядком на 2018 год насчитывается 8.435 миллиардов устройств – это 68% всех людей которые заходят в браузер. Каждый второй человек, который зашел на ваш сайт может не остаться там из-за банальной не удобности, если ваш сайт не будет адаптирован на мобильные устройства. Все наши дизайны и макеты, которые мы предоставляем делаются сугубо адаптивными. Это принципиальное решение.</p>
                        <p><b>Удобность не только для клиента, а и для производителя</b></p>
                        <p>Мы уверены – наши работы должны быть приятными по виду и удобными не только для клиента, а и для самого производителя. Заполнение каталога товаров, написание текстов, менеджмент по персоналу и дополнительные функции – за всё это отвечает back-end разработка. Создание административной панели – упростит работу с сайтом, сделает не только работу быстрее, но и приятнее. Административная панель не будет выглядеть как терминал, или что-то страшное! Для административной панели мы так же создаем дизайн и подключаем его. Работа будет приятной не только мозгу, а и глазу!</p>
                        <p><b>Хочу заказать интернет магазин, что делать?</b></p>
                        <p>Работа с нами для вас будет очень простой. Вам стоит оставить заявку на нашем сайте с пожеланиями, после чего с вами свяжется наш менеджер по работе с клиентами. Благодаря специалисту подвязному к вашему проекту мы сможем выполнить все ваши пожелания и отладить ваш проект то относительного идеала. Наше сотрудничество будет продуктивным – ждём на вашу заявку!</p>


                        <div class="row buttonServ">
                            <div><a href="#"><button>Заказать услугу</button></a></div>
                        </div>

                    </div>



                </div>



            </div>
        </section>

        <section class="ouWork">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 workEx">
                        <div>
                            <h1>Дополнительные услуги</h1>
                            <p>Отдельно заказываемые услуги  </p>
                        </div>
                    </div>
                </div>

                <div class="row thereBlock">
                    <div><p>Seo-оптимизация  вашего сайта визитки  (при покупке любого пакета скидка 20% на покупку любого тарифа внутренней сео-оптимизации</p></div>
                    <div><p>Seo-поддержка сайта визитки (при покупке любого пакета скидка 20%  на покупку любого тарифа внешней сео-оптимизации)</p></div>
                    <div><p>Увеличение срока тех. поддержки</p></div>
                </div>

                <div class="row buttonOuW">
                    <div><button>Узнать стоимость</button></div>
                </div>

            </div>

        </section>

        <section class="costServ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 pricSch">
                        <div>
                            <h1>Три варианта продвижения вашего сайта </h1>
                            <p>три основных типа продвижения, точная сумма оговаривается лично </p>
                        </div>
                    </div>
                </div>

                <div class="row thereMainBlocks">
                    <div id="radius"><p>Пакет Start:</p>
                        <ul>
                            <li>Функции определено в описании макета</li>
                            <li>Адаптивная верстка</li>
                            <li>Шаблонный дизайн</li>
                            <li>Ограниченный функционал Админ панели</li>
                            <li>техническая поддержка - 10 дней</li>
                            <li>Сроки от 7  дней</li>
                        </ul>
                        <h1>Цена: от 6.000 грн</h1>
                    </div>
                    <div id="newCol">
                        <p>Пакет High:</p>
                        <ul>
                            <li>Функционал обсуждается лично</li>
                            <li>Адаптивная верстка</li>
                            <li>От 15 страниц</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Полноценная админ панель</li>
                            <li>техническая поддержка 90 дней </li>
                            <li>Сроки от 1 – 2  месяца</li>
                        </ul>
                        <h1>Цена: от 20.000 грн</h1>
                    </div>
                    <div id="radiusTwo"><p>Пакет Medium:</p>
                        <ul>
                            <li>Функционал обсуждается лично</li>
                            <li>Адаптивная верстка</li>
                            <li>До 15 страниц</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Полноценная админ панель</li>
                            <li>техническая поддержка 30 дней</li>
                            <li>Сроки от 1 – 2  месяца</li>
                        </ul>
                        <h1>Цена: от 15.000 грн</h1>
                    </div>
                </div>

            </div>
        </section>

    </main>

    <div class="container">
        {{ render_esi(url(
            'contacts'
        )) }}
    </div>

{% endblock %}
