{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}


    <nav class="SrvN">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 navB">
                    <h1> Создание Лендинг страницы </h1>
                    <p>Продающая посадочная страница для развития вашего бизнеса!</p>
                </div>
            </div>
            <div class="row butPos">
                <div class="col-lg-12 col-md-12 butInNav">
                    <p>Заказать звонок</p>
                </div>
            </div>
        </div>

    </nav>



    <main>

        <section class="contactUs">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 iconsBl">
                        <i id="oneI" class="fas fa-phone"></i>
                        <i id="twoI" class="far fa-comment"></i>
                    </div>
                </div>

                <div class="row desScr">
                    <h2>Что входит в разработку легдинг страницы?</h2>
                    <p>c нашей командой</p>
                </div>

                <div class="row fiveBlockContUs">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="row fiveBlockInfUs">
                    <div><p>Личный ассистент который всегда готов вам помочь, и отдельная команда разработчиков</p></div>
                    <div><p>Использование актуальных технологий, что даст низкое устаревание проекта</p></div>
                    <div><p>Полная адаптивность вашего сайта каталога</p></div>
                    <div><p>Посадочная страница будет подготовлена к продвижению в поисковых системах</p></div>
                    <div><p>Полное следование срокам и техническая поддержка на протяжении срока согласно вашего тарифа</p></div>
                </div>

            </div>

        </section>

        <section class="descOfServ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 infoServ">
                        <h1>Зачем нужен лендинг, или посадочная страница?</h1>
                        <br>
                        <p>Перед началом давайте определим что такое лендинг страница (lending page). Лендинг сайт – ещё часто называют как посадочная. Этот тип сайтов создан для продажи вашей услуги или товара. Часто на лендинг страницу отправляют трафик с рекламы. Страница разрабатывается с максимально проработанным дизайном текстами и прочими комплектующими – что влияют на рекламу вашей продукции или услуги.</p>
                        <p><b>Отличительные черты Посадочных страниц?</b></p>
                        <br>
                        <ul>
                            <li>Это одностраничные сайты</li>
                            <li>минимальное количество переходов</li>
                            <li>максимальная концентрация информации</li>
                            <li>увеличенная конверсия по сравнению с простыми сайтами</li>
                            <li>удобен для продвижения определенной услуги – товара</li>
                        </ul>
                        <p><b>Зачем вам покупать лендинг страницу?</b></p>
                        <br>
                        <p>Лединг страницы требуются для целенаправленного продвижения товара или услуги. Так как на лендинг странице прописываются тексты которые более релевантные для поисковой системы. Что такое релевантность – сходство запроса пользователя с содержимым на вашем сайте. Чем больше сходство тем выше вы стоите в рейтинге поисковой системы.  </b></p>
                        <br>
                        <p><b>Какая же главная задача лендинг страницы?</b></p>
                        <p>Самая главная задача этого типа страниц - перевод заинтересованных клиентов в заявки, которые они могут оставить их на вашем сайте.</p>

                        <div class="row buttonServ">
                            <div><a href="#"><button>Заказать услугу</button></a></div>
                        </div>

                    </div>

                </div>



            </div>
        </section>

        <section class="ouWork">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 workEx">
                        <div>
                            <h1>Дополнительные услуги</h1>
                            <p>Отдельно заказываемые услуги  </p>
                        </div>
                    </div>
                </div>

                <div class="row thereBlock">
                    <div><p>Seo-оптимизация  вашего сайта визитки  (при покупке любого пакета скидка 20% на покупку любого тарифа внутренней сео-оптимизации</p></div>
                    <div><p>Seo-поддержка сайта визитки (при покупке любого пакета скидка 20%  на покупку любого тарифа внешней сео-оптимизации)</p></div>
                    <div><p>Увеличение срока тех. поддержки</p></div>
                </div>

                <div class="row buttonOuW">
                    <div><button>Узнать стоимость</button></div>
                </div>

            </div>

        </section>

        <section class="costServ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 pricSch">
                        <div>
                            <h1>Три варианта продвижения вашего сайта </h1>
                            <p>три основных типа продвижения, точная сумма оговаривается лично </p>
                        </div>
                    </div>
                </div>

                <div class="row thereMainBlocks">
                    <div id="radius"><p>Пакет Start:</p>
                        <ul>
                            <li>Функции определено в описании макета</li>
                            <li>Адаптивная верстка </li>
                            <li>Шаблонный дизайн</li>
                            <li>техническая поддержка  10 дней</li>
                            <li>Сроки от 7  дней</li>
                        </ul>
                        <h1>Цена: от 4.000 грн</h1>
                    </div>
                    <div id="newCol">
                        <p>Пакет High:</p>
                        <ul>
                            <li>Функционал обсуждается лично</li>
                            <li>Адаптивная верстка </li>
                            <li>Прототипирование вашего сайта</li>
                            <li>Еженедельная отчетность  </li>
                            <li>Индивидуальный дизайн</li>
                            <li>Форма обратной связи</li>
                            <li>Подключение виртуальных АТС (умная телефония)</li>
                            <li>техническая поддержка 90 дней</li>
                            <li>Сроки от 1 – 2  месяца</li>
                        </ul>
                        <h1>Цена: от 7.000 грн</h1>
                    </div>
                    <div id="radiusTwo"><p>Пакет Medium:</p>
                        <ul>
                            <li>Функционал обсуждается лично</li>
                            <li>Адаптивная верстка</li>
                            <li>Индивидуальный дизайн</li>
                            <li>техническая поддержка 30 дней</li>
                            <li>Сроки от 1 – 2  месяца</li>
                        </ul>
                        <h1>Цена: от 5.500 грн</h1>
                    </div>
                </div>

            </div>
        </section>

    </main>

    <div class="container">
        {{ render_esi(url(
            'contacts'
        )) }}
    </div>

{% endblock %}
