{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}
{% block body %}



    <nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <img src="#" alt="imgArticle">
                </div>
            </div>
        </div>
    </nav>



    <main>

        <div class="container">
            <div class="row">
                <article>
                    <div>
                        <h1>Главный заголовок</h1>

                        <p><i id="clockInBlog" class="far fa-clock"></i>{{ article.CreatedAt|date('Y/m/d') }}</p>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi exercitationem explicabo fuga harum laborum, maxime neque non quo repudiandae temporibus velit veritatis! Cupiditate dolore eius esse facere fuga, impedit necessitatibus nesciunt provident quam quidem ut vero voluptas voluptatem! Adipisci dolores inventore iste perferendis tenetur. Accusamus ad architecto, aspernatur atque autem, beatae consequatur cum dicta dignissimos distinctio dolorem doloremque doloribus expedita ipsum iste libero natus nostrum odio odit perspiciatis quibusdam quidem quisquam sapiente sequi totam unde velit, voluptate voluptatem voluptatibus voluptatum. Accusantium at autem commodi minima nam odit rerum! Aperiam, esse facere illum impedit itaque nobis voluptatibus. Asperiores eius, ipsum!
                    </p>
                </article>
            </div>
        </div>

    </main>




    <div class="container">
        {{ render_esi(url(
            'contacts'
        )) }}
    </div>

{% endblock %}
