{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}
{% block body %}


    <nav class="SrvN">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 navB">
                    <h1>Ваш сайт приведет целевой трафик – стоит обратиться к нам!</h1>
                    <p>Вы офигееите от нашего професионализма<br>где вы найдете еще такую команду?</p>
                </div>
            </div>
            <div class="row butPos">
                <div class="col-lg-12 col-md-12 butInNav">
                    <p>Заказать звонок </p>
                </div>
            </div>
        </div>

    </nav>



    <main>

        <section class="contactUs">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 iconsBl">
                        <i id="oneI" class="fas fa-phone"></i>
                        <i id="twoI" class="far fa-comment"></i>
                    </div>
                </div>

                <div class="row desScr">
                    <h2>Как проходит оптимизация сайта?
                    </h2>
                    <p>Оптимизация сайта для поисковых систем </p>
                </div>

                <div class="row fiveBlockContUs">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="row fiveBlockInfUs">
                    <div><p>Анализ вашего бизнеса, сайта и конкурентов</p></div>
                    <div><p>Составление Сео-структуры сайта согласно целям бизнеса</p></div>
                    <div><p>Внешняя и внутренняя оптимизация вашего сайта</p></div>
                    <div><p>Установка систем веб-аналитики для сбора данных</p></div>
                    <div><p>Увеличиваем конверсию, улучшаем качество контента сайта, анализируем показатели систем аналитики</p></div>
                </div>

            </div>

        </section>

        <section class="descOfServ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 infoServ">
                        <h1>Зачем заказывать продвижение сайта?</h1>
                        <br>
                        <p>Понятие бизнеса достаточно обширное, каждый по-своему его определяет, однако можно сказать с полной уверенностью бизнес без клиентов – не бизнес. Как добиться того большого количества показов вашего сайта и переходов на сайт?
                           <br> Seo-продвижение сайтов – продвижение в органическом поиске Google и Яндекс вашего сайта. Основная цель такого продвижение – увеличение целевого трафика на ваш сайт.</p>
                        <p><b>За счет чего увеличивается трафик на сайт?</b></p>
                        <br>
                        <p>Увеличение трафика на сайт происходит за счет повышения в рейтинге поисковика вашего сайта. В наше время, ведется жёсткая конкуренция за ТОП-10 в поисковике, практически в каждой нише. Согласно статистике 75% людей не переходят на вторую страницу поисковика, если ваш сайт находится не в десятке лучших – стоит бить тревогу.
                            Проанализировав ваш сайт, мы сможем сделать упор на те сео-комплектующие которые отлично проработаны. Изменив худшие показатели, мы сможем поднять ваш сайт в рейтинге, что даст прилив трафика на вашу страницу.
                            Увеличение ссылочной массы – закупка платных и бесплатных ссылок на ваш сайт. Полный контроль ссылочной массы и отчётность согласно тарифа купленной вами.
                            Заказав seo-продвижение у нас, вы можете спокойно следить за продвижением вашей страницы. Еженедельный отчёт отправляется вам на почту по которому вы можете проследить всю нашу работу что сделано, что переделано и что осталось сделать. Такого рода интерактив помогает быть уверенным вам в Сео-продвижении вашей страницы и наших услуг в целом.
                        </p>
                        <br>
                        <p><b>Зачем существует сео-продвижение?</b></p>
                        <p>Как мы уже определили ранее, поисковое продвижение – это продвижение вашего сайта по рейтингу поисковика, с целью вывести ваш сайт в ТОП показов. Если у вас отсутствует какая-либо сео-оптимизация или сайт создан с большим количеством ошибок вам будет очень сложно продвинуть его как либо, поэтому мы контролирует все показатели вашего сайта вовремя продвижения.
                        </p>
                        <br>
                        <p><b>Seo-продвижение включает в себя:</b></p>
                        <ul>
                            <li>Аудит нашего сайта</li>
                            <li>Аудит сайтов конкурентов</li>
                            <li>Написание сео-текстов</li>
                            <li>Сбор семантического ядра</li>
                            <li>Внешняя сео-оптимизация</li>
                            <li>Внутренняя сео-оптимизация</li>
                        </ul>
                    </div>
                </div>

                <div class="row buttonServ">
                    <div><button>Заказать услугу</button></div>
                </div>

            </div>
        </section>

        <section class="ouWork">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 workEx">
                        <div>
                            <h1>Дополнительные услуги</h1>
                            <p>Отдельно заказываемые услуги  </p>
                        </div>
                    </div>
                </div>
                
                <div class="row thereBlock">
                    <div><p>Аудит сайта</p></div>
                    <div><p>Анализ ссылочной массы</p></div>
                    <div><p>Разработка семантичекого ядра</p></div>
                </div>

                <div class="row buttonOuW">
                    <div><button>Больше работ</button></div>
                </div>
                
            </div>

        </section>

        <section class="costServ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 pricSch">
                        <div>
                            <h1>Три варианта продвижения вашего сайта </h1>
                            <p>три основных типа продвижения, точная сумма оговаривается лично </p>
                        </div>
                    </div>
                </div>
                
                <div class="row thereMainBlocks">
                    <div id="radius"><p>Seo-продвижение по трафику ОТ какой-то суммы</p></div>
                    <div id="newCol"><p>Seo-продвижение с гарантиями ТОП – позиций ОТ какой-то суммы</p></div>
                    <div id="radiusTwo">Seo-продвижение по кластерам ОТ какой-то суммы</div>
                </div>

            </div>
        </section>

    </main>
    <div class="container">
        {{ render_esi(url(
            'contacts'
        )) }}
    </div>
{% endblock %}


