
@media only screen and (max-width: 320px) and (max-width: 375px) {
    header section {
        display: none;
    }

    nav p {
        padding: 0;
    }

    .octH h1 {
        font-size: 30px;
        margin-top: 0 !important;
    }

    .imgR img {
        display: none;
    }
    .pointers {
        margin-top: 55px;

    }

    #imgLineMain {
        display: none;
    }

    .buttonBlock {
        max-width: 33.333%;
    }

    .conFImg, infoFS {
        max-width: 33.333%;
        padding: 0;
        margin: 0;
    }

    .iconsMes {
        display: none;
    }

    .listF ul {
        display: none;
    }

    .LineP {
        margin-top: 40px;
    }

    .LineP h2 {
        font-size: 20px;
        text-align: center;
    }

    .LineP p {
        margin-left: 0;
    }

    .LineP p small {
        font-size: 12px;
        text-align: center;
    }

    .artO h3, p {
        font-size: 10px !important;
        padding: 0 50px;
    }

    .artO {
        padding: 10px 0 !important;
    }

    .algN {
        padding: 0;
    }

    .BuCen {
        margin-top: 40px;
    }

    .BuCen p {
        color: black;
        font-weight: 700;
        text-shadow: 1px 1px 40px black, 0 0 1em white;
    }

    .buttonBlock .brifC {
        display: none;
    }

    .brifC a {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .Serv {
        padding: 5px 20px;
    }

    .algF {
        padding-top: 0;
    }

    .infBlock {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .OneSec {
        height: 750px !important;
    }

    .blockTwo img {
        display: none;
    }

    .blockCol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .blogTextInf  {
        line-height: inherit!important;
    }

    .ThereSec {
        height: auto;
        background-color: #171717 !important;
        background-image: none;
        /*margin-top: 300px;*/
        padding-bottom: 0;
    }

    .hInImg {
        margin-top: 50px;
    }

    .blogTextInf {
        margin-top: 0;
    }

    .FourSec {
        max-width: 100%;
        height: 730px;
    }

    .oneObj, .twoObj {
        padding: 0!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conFImg .oneObj, .twoObj {
        max-width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;

    }

    .conFImg {
        display: none;
    }

    .inpInf input {
        border: 1px solid black;
        padding: 0;
        margin: 0;
    }

    #contacts_name, #contacts_email, #telNumb, #spaL  {
        border: 1px solid #868686 !important;
    }

    .infoFS p small {
        font-size: 13px;
    }

    .butInNav p {
        font-size: 15px !important;
    }

    .butInNav {
        margin: 0 0 100px 0 !important;

    }

    .SrvN p {
        margin-right: 0;
    }
    .navB p {
        font-size: 15px !important;
    }

    .navB h1 {
        padding-top: 40px;
        text-align: center;
    }

    .iconsBl {
        font-size: 25px;
    }

    .desScr h2, p {
        text-align: center;
        margin-left: 0 !important;
    }

    .desScr p {
        font-size: 15px !important;
    }

    .contactUs {
        height: 900px;
    }

    .fiveBlockContUs {
        display: none !important;
    }

    .fiveBlockInfUs div p {
        font-size: 15px !important;
    }

    .fiveBlockInfUs div {
        margin: 20px 15px;
        width: 100%;
    }

    .infoServ h1 {
        text-align: center;
    }

    .infoServ p {
        font-size: 15px !important;
    }

    .descOfServ {
        height: auto;
    }

    .workEx div {
        margin-top: 50px;
        text-align: center;
    }

    .workEx div p {
        font-size: 15px !important;
    }

    .thereBlock div {
        height: 150px;
        margin: 15px 25px;
    }

    .thereBlock div p {
        font-size: 15px !important;
        color: white;
        margin-top: 45px;
    }

    .costServ {
        height: 2000px;
    }

    .pricSch div h1 {
        text-align: center;
    }

    .pricSch div p {
        font-size: 15px !important;
    }

    #radius, #radiusTwo {
        border-radius: 25px !important;
    }

    #radius p {
        font-size: 20px !important;
        text-align: center !important;
        padding-right: 0 !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #radiusTwo p {
        padding-left: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #newCol p {
        font-size: 20px !important;
        text-align: center !important;
    }

    #newCol {
        position: relative;
        top: 1px;
    }



    .imgV {
        display: none;
    }

    .hText {
        margin-top: 100px;
        text-align: center !important;
    }

    .hText p {
        text-align: center !important;
        margin-right: 0;
    }

    .infInBeli {
        padding-bottom: 0 !important;
        margin-top: 100px;
    }

    #infW {
        width: 100% !important;
        height: 150px;
    }

    .ourWork {
        height: 3400px;
    }

    .twBlInVal p {
        font-size: 20px !important;
    }

    .frR p {
        font-size: 15px !important;
    }

    .TwoSec p {
        font-size: 18px;
    }

    .textBeli p {
        display: none;
    }

    .bgBl {
        height: 200px;
    }

    .WhaWeBeliIn {
        background-color: #363636;
    }

    .infInBeli h2 {
        color: lightgray;
    }

    .ourValu {
        padding: 100px 0;
        height: auto;
    }

}



@media only screen and (max-width: 375px) and (max-width: 414px) {
    header section {
        display: none;
    }

    nav p {
        padding: 0;
    }

    .octH h1 {
        font-size: 30px;
        margin-top: 0 !important;
    }

    .imgR img {
        display: none;
    }

    .imgR {
        top: -20px;
    }

    .pointers {
        margin-top: 55px;

    }

    #imgLineMain {
        display: none;
    }

    .buttonBlock {
        max-width: 33.333%;
    }

    .conFImg, infoFS {
        max-width: 33.333%;
        padding: 0;
        margin: 0;
    }

    .iconsMes {
        display: none;
    }

    .listF ul {
        display: none;
    }

    .LineP {
        margin-top: 40px;
    }

    .LineP h2 {
        font-size: 20px;
        text-align: center;
    }

    .LineP p {
        margin-left: 0;
    }

    .LineP p small {
        font-size: 12px;
        text-align: center;
    }

    .artO h3, p {
        font-size: 10px !important;
        padding: 0 50px;
    }

    .artO {
        padding: 10px 0 !important;
    }

    .algN {
        padding: 0;
    }

    .BuCen {
        margin-top: 40px;
    }

    .BuCen p {
        color: black;
        font-weight: 700;
        text-shadow: 1px 1px 40px black, 0 0 1em white;
    }

    .buttonBlock .brifC {
        display: none;
    }

    .brifC a {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .Serv {
        padding: 5px 20px;
    }

    .algF {
        padding-top: 0;
    }

    .infBlock {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .OneSec {
        height: 750px !important;
    }

    .blockTwo img {
        display: none;
    }

    .blockCol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .blogTextInf {
        line-height: inherit !important;
    }

    .ThereSec {
        height: auto;
        background-color: #171717 !important;
        background-image: none;
        /*margin-top: 300px;*/
        padding-bottom: 0;
    }

    .hInImg {
        margin-top: 50px;
    }

    .blogTextInf {
        margin-top: 0;
    }

    .buttonInInfBlock {
        display: none;
    }

    .FourSec {
        max-width: 100%;
        height: auto;
    }

    .oneObj, .twoObj {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conFImg .oneObj, .twoObj {
        max-width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;

    }

    .conFImg {
        display: none;
    }

    .inpInf input {
        border: 1px solid black;
    }

    #contacts_name, #contacts_email, #telNumb, #spaL {
        border: 1px solid #868686 !important;
    }

    .infoFS p small {
        font-size: 13px;
    }


    .butInNav p {
        font-size: 15px !important;
    }

    .butInNav {
        margin: 0 0 100px 0 !important;

    }

    .SrvN p {
        margin-right: 0;
    }
    .navB p {
        font-size: 15px !important;
    }

    .navB h1 {
        padding-top: 40px;
        text-align: center;
    }

    .iconsBl {
        font-size: 25px;
    }

    .desScr h2, p {
        text-align: center;
        margin-left: 0 !important;
    }

    .contactUs {
        height: 900px;
    }

    .fiveBlockContUs {
        display: none !important;
    }

    .fiveBlockInfUs div p {
        font-size: 15px !important;
    }

    .fiveBlockInfUs div {
        margin: 20px 15px;
        width: 100%;
    }

    .infoServ h1 {
        text-align: center;
    }

    .infoServ p {
        font-size: 15px !important;
    }

    .descOfServ {
        height: auto !important;
        padding-bottom: 200px;
    }

    .workEx div {
        margin-top: 50px;
        text-align: center;
    }

    .workEx div p {
        font-size: 15px !important;
    }

    .thereBlock div {
        height: 150px;
        margin: 15px 25px;
    }

    .thereBlock div p {
        font-size: 15px !important;
        color: white;
        margin-top: 45px;
    }

    .costServ {
        height: 2000px;
    }

    .pricSch div h1 {
        text-align: center;
    }

    .pricSch div p {
        font-size: 15px !important;
    }

    #radius, #radiusTwo {
        border-radius: 25px !important;
    }
    #newCol  {
        margin: 25px 30px;
    }


    #radius p {
        font-size: 20px !important;
        text-align: center !important;
        padding-right: 0 !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #radiusTwo p {
        padding-left: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #newCol p {
        font-size: 20px !important;
        text-align: center !important;
    }

    #newCol {
        position: relative;
        top: 1px;
    }

}

@media only screen and (max-width: 414px) and (max-width: 768px) {

    header section {
        display: none;
    }

    nav p {
        padding: 0;
    }

    .octH h1 {
        font-size: 30px;
        margin-top: 0 !important;
    }

    .imgR img {
        /*max-width: 200px;*/
        /*height: auto;*/
        display: none;
    }

    .imgR {
        top: 95px;
    }

    .pointers {
        margin-top: 55px;

    }

    #imgLineMain {
        display: none;
    }

    .buttonBlock {
        max-width: 33.333%;
    }

    .conFImg, infoFS {
        max-width: 33.333%;
        padding: 0;
        margin: 0;
    }

    .iconsMes {
        display: none;
    }

    .listF ul {
        display: none;
    }

    .LineP {
        margin-top: 40px;
    }

    .LineP h2 {
        font-size: 20px;
        text-align: center;
    }

    .LineP p {
        margin-left: 0;
    }

    .LineP p small {
        font-size: 12px;
        text-align: center;
    }

    .artO h3, p {
        font-size: 10px !important;
        padding: 0 50px;
    }

    .artO {
        padding: 10px 0 !important;
    }

    .algN {
        padding: 0;
    }

    .BuCen {
        margin-top: 40px;
    }

    .BuCen p {
        color: black;
        font-weight: 700;
        /*text-shadow: 1px 1px 40px black, 0 0 1em white;*/
    }

    .buttonBlock .brifC {
        display: none;
    }

    .brifC a {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .Serv {
        padding: 5px 20px;
    }

    .algF {
        padding-top: 0;
    }

    .infBlock {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .OneSec {
        height: 750px !important;
    }

    .blockTwo img {
        display: none;
    }

    .blockCol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .blogTextInf  {
        line-height: inherit!important;
    }

    .ThereSec {
        height: auto;
        background-color: #171717 !important;
        background-image: none;
        /*margin-top: 150px;*/
        padding-bottom: 0;
    }

    .hInImg {
        margin-top: 50px;
    }

    .blogTextInf {
        padding-bottom: 25px;
    }

    .buttonInInfBlock {
        display: none;
    }

    .FourSec {
        max-width: 100%;
        height: auto;
    }

    .oneObj, .twoObj {
        padding: 0!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conFImg .oneObj, .twoObj {
        max-width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;

    }

    .conFImg {
        display: none;
    }

    .inpInf input {
        border: 1px solid black;
    }

    #contacts_name, #contacts_email, #telNumb, #spaL  {
        border: 1px solid #868686 !important;
    }

    .infoFS p small {
        font-size: 13px;
    }


    .butInNav p {
        font-size: 15px !important;
    }

    .butInNav {
        margin: 0 0 100px 0 !important;

    }

    .SrvN p {
        margin-right: 0;
    }
    .navB p {
        font-size: 15px !important;
    }

    .navB h1 {
        padding-top: 40px;
        text-align: center;
    }

    .iconsBl {
        font-size: 25px;
    }

    .desScr h2, p {
        text-align: center;
        margin-left: 0 !important;
    }

    .contactUs {
        height: 900px;
    }

    .fiveBlockContUs {
        display: none !important;
    }

    .fiveBlockInfUs div p {
        font-size: 15px !important;
    }

    .fiveBlockInfUs div {
        margin: 20px 15px;
        width: 100%;
    }

    .infoServ h1 {
        text-align: center;
    }

    .infoServ p {
        font-size: 15px !important;
    }

    .descOfServ {
        height: auto !important;
        padding-bottom: 200px;
    }

    .workEx div {
        margin-top: 50px;
        text-align: center;
    }

    .workEx div p {
        font-size: 15px !important;
    }

    .thereBlock div {
        height: 150px;
        margin: 15px 25px;
    }

    .thereBlock div p {
        font-size: 15px !important;
        color: white;
        margin-top: 45px;
    }

    .costServ {
        height: 2000px;
    }

    .pricSch div h1 {
        text-align: center;
    }

    .pricSch div p {
        font-size: 15px !important;
    }

    #radius, #radiusTwo {
        border-radius: 25px !important;
    }
    #newCol  {
        margin: 25px 30px;
    }

    #newCol {
        position: relative;
        top: 1px;
    }

    .TwoSec p {
        font-size: 18px;
    }

    .textBeli p {
        display: none;
    }

    .bgBl {
        height: 200px;
    }

    .WhaWeBeliIn {
        background-color: #363636;
    }

    .infInBeli h2 {
        color: lightgray;
    }

    .ourValu {
        padding: 100px 0;
        height: auto;
    }

}

@media only screen and (max-width: 768px) {

    header section {
        display: none;
    }

    .headerB ul li {
        font-size: 10px;
    }

    #imgInHL {
        width: 70px;
        height: auto;
    }

    nav p {

        height: auto;
    }

    .octH h1 {
        font-size: 30px;
        margin-top: 0 !important;
    }

    .imgS {
        height: 67px;
    }

    .imgR img {
        display: none;
    }

    .pointers {
        margin-top: 55px;

    }

    #imgLineMain {
        display: none;
    }

    .buttonBlock {
        max-width: 33.333%;
    }

    .conFImg, infoFS {
        max-width: 33.333%;
        padding: 0;
        margin: 0;
    }

    .iconsMes {
        display: none;

    }

    .listF ul {
        display: none;

    }

    .LineP {
        margin-top: 40px;
    }

    .LineP h2 {
        font-size: 20px;
        text-align: center;
    }

    .LineP p {
        margin-left: 0;
    }

    .LineP p small {
        font-size: 12px;
        text-align: center;
    }

    .artO h3, p {
        font-size: 10px !important;
        padding: 0 50px;
    }

    .artO {
        padding: 10px 0 !important;
    }

    .algN {
        padding: 0;
    }

    .BuCen {
        margin-top: 40px;
    }

    .BuCen p {
        color: black;
        font-weight: 700;
        /*text-shadow: 1px 1px 40px black, 0 0 1em white;*/
    }

    .buttonBlock .brifC {
        display: none;
    }

    .brifC a {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .Serv {
        padding: 5px 20px;
    }

    .algF {
        padding-top: 0;
    }

    .infBlock {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .OneSec {
        height: auto;
        padding-bottom: 35px;
    }

    .blockTwo img {
        display: none;
    }

    .blockCol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .blogTextInf  {
        line-height: inherit!important;
    }

    .ThereSec {
        height: auto;
        background-color: #171717 !important;
        background-image: none;
        /*margin-top: 150px;*/
        padding-bottom: 25px;

    }

    .hInImg {
        margin-top: 50px;
    }

    .blogTextInf {
        margin-top: 0;
    }

    .buttonInInfBlock {
        display: none;
    }

    .FourSec {
        max-width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .oneObj, .twoObj {
        padding: 0!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conFImg .oneObj, .twoObj {
        max-width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .conFImg {
        display: none;
    }

    .inpInf input {
        border: 1px solid black;
    }

    #contacts_name, #contacts_email, #telNumb, #spaL  {
        border: 1px solid #868686 !important;
    }

    .infoFS p small {
        font-size: 13px;
    }


    .butInNav p {
        font-size: 15px !important;
    }

    .butInNav {
        margin: 0 0 100px 0 !important;

    }

    .SrvN p {
        margin-right: 0;
    }
    .navB p {
        font-size: 15px !important;
    }

    .navB h1 {
        padding-top: 40px;
        text-align: center;
    }

    .iconsBl {
        font-size: 25px;
    }

    .desScr h2, p {
        text-align: center;
        margin-left: 0 !important;
    }

    .contactUs {
        height: 900px;
    }

    .fiveBlockContUs {
        display: none !important;
    }

    .fiveBlockInfUs div p {
        font-size: 15px !important;
    }

    .fiveBlockInfUs div {
        margin: 20px 15px;
        width: 100%;
    }

    .infoServ h1 {
        text-align: center;
    }

    .infoServ p {
        font-size: 15px !important;
    }

    .descOfServ {
        height: auto !important;
        padding-bottom: 200px;

    }

    .workEx div {
        margin-top: 50px;
        text-align: center;
    }

    .workEx div p {
        font-size: 15px !important;
    }

    .thereBlock div {
        height: 150px;
        width: 90%;
        margin: 15px 25px;
    }

    .thereBlock div p {
        font-size: 15px !important;
        color: white;
        margin-top: 45px;
    }

    .costServ {
        height: auto !important;
        padding-bottom: 100px;
    }

    .pricSch div h1 {
        text-align: center;
    }

    .pricSch div p {
        font-size: 15px !important;
    }

    #radius, #radiusTwo {
        border-radius: 25px !important;
    }
    #newCol  {
        margin: 25px 30px;
    }



    #radius p {
        font-size: 20px !important;
        text-align: center !important;
        padding-right: 0 !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #radiusTwo p {
        padding-left: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #newCol p {
        font-size: 20px !important;
        text-align: center !important;
    }
}




@media only screen and (max-width: 1024px) {

    header section {
        /*display: none;*/
    }

    .headerB ul li {
        font-size: 15px;
    }

    #imgInHL {
        width: 70px;
        height: auto;
    }

    nav p {
        height: auto;
    }

    .octH h1 {
        font-size: 30px;
        margin-top: 0 !important;
    }

    .imgS {
        height: 67px;
    }

    .imgR img {
        width: 58%;
        height: auto;
    }

    .pointers {
        margin-top: 55px;

    }

    #imgLineMain {
        display: none;
    }

    .buttonBlock {
        max-width: 33.333%;
    }

    .conFImg, infoFS {
        max-width: 33.333%;
        padding: 0;
        margin: 0;
    }

    .iconsMes {
        /*display: none;*/
    }

    .listF ul {
        /*display: none;*/
    }

    .LineP {
        margin-top: 40px;
    }

    .LineP h2 {
        font-size: 20px;
        text-align: center;
    }

    .LineP p {
        margin-left: 0;
    }

    .LineP p small {
        font-size: 12px;
        text-align: center;
    }

    .artO h3, p {
        font-size: 10px !important;
        padding: 0 20px;
    }

    .artO {
        padding: 10px 0 !important;
    }

    .algN {
        padding: 0;
    }

    .BuCen {
        margin-top: 40px;
    }

    .BuCen p {
        color: black;
        font-weight: 700;
        text-shadow: 1px 1px 40px black, 0 0 1em white;
    }

    .buttonBlock .brifC {
        display: none;
    }

    .brifC a {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .Serv {
        padding: 5px 20px;
    }

    .algF {
        padding-top: 0;
    }

    .infBlock {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .OneSec {
        height: auto;
        padding-bottom: 35px;
    }

    .blockTwo img {
        display: none;
    }

    .blockCol {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .blogTextInf  {
        line-height: inherit!important;
    }

    .ThereSec {
        height: auto;
        background-color: #171717 !important;
        background-image: none;
        /*margin-top: 150px;*/
        padding-bottom: 25px;
    }

    .hInImg {
        margin-top: 50px;
    }

    .blogTextInf {
        margin-top: 0;
    }

    .buttonInInfBlock {
        display: none;
    }

    .FourSec {
        max-width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .oneObj, .twoObj {
        padding: 0!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conFImg .oneObj, .twoObj {
        max-width: 100%;
        display: none;
    }

    .conFImg {
        display: none;
    }

    .inpInf input {
        border: 1px solid black;
    }

    #contacts_name, #contacts_email, #telNumb, #spaL  {
        border: 1px solid #868686 !important;
    }

    .infoFS p small {
        font-size: 13px;
    }


    .butInNav p {
        font-size: 15px !important;
    }

    .butInNav {
        margin: 0 0 100px 0 !important;

    }

    .SrvN p {
        margin-right: 0;
    }
    .navB p {
        font-size: 15px !important;
    }

    .navB h1 {
        padding-top: 40px;
        text-align: center;
    }

    .iconsBl {
        font-size: 25px;
    }

    .desScr h2, p {
        text-align: center;
        margin-left: 0 !important;
    }

    .contactUs {
        height: auto;
    }

    .fiveBlockContUs {
        display: none !important;
    }

    .fiveBlockInfUs div p {
        font-size: 15px !important;
    }

    .fiveBlockInfUs div {
        margin: 20px 15px;
        width: 100%;
    }

    .infoServ h1 {
        text-align: center;
    }

    .infoServ p {
        font-size: 15px !important;
    }

    .descOfServ {
        height: auto;
        padding-bottom: 200px;
    }

    .workEx div {
        margin-top: 50px;
        text-align: center;
    }

    .workEx div p {
        font-size: 15px !important;
    }

    .thereBlock div {
        height: 150px;
        width: 90%;
        margin: 15px 25px;
    }

    .thereBlock div p {
        font-size: 15px !important;
        color: white;
        margin-top: 45px;
    }

    .costServ {
        height: auto;
        padding-bottom: 100px;
    }

    .pricSch div h1 {
        text-align: center;
    }

    .pricSch div p {
        font-size: 15px !important;
    }

    #radius, #radiusTwo {
        border-radius: 25px !important;
    }
    #newCol  {
        margin: 25px 30px;
    }


    #radius p {
        font-size: 20px !important;
        text-align: center !important;
        padding-right: 0 !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #radiusTwo p {
        padding-left: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
        border-radius: 25px 25px 0 0 !important;
    }

    #newCol p {
        font-size: 20px !important;
        text-align: center !important;
    }
}

@media only screen and (min-width: 1920px) and (max-height: 1080px) {
    .imgR img {
        max-width: 95%;
    }

    .ThereSec {
        height: auto;
        padding-bottom: 215px;
    }

    .firstButton {
        padding: 15px 25px 0 25px;
    }

    .descOfServ {
        height: auto;
        padding-bottom: 200px;
    }
    .inpInf {
        width: 100%;
        padding: 0;
        margin: 0;
    }

}