<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="/img/OctoLogo.svg" alt="logo" width="200px" height="200px">
            </div>
        </div>

        <section class="test">

            <div class="row">
                <div class="col-lg-12 col-md-12 oneObj">
                    <a href="/adminPanel"> <p>Журнал</p></a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 twoObj">
                    <a href="/adminPanel/addArticle"><p>Создать статью</p></a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 thereObj">
                    <a href="/adminPanel/editPage"><p>Редактировать</p></a>
                </div>
            </div>

        </section>

    </div>
</header>