
* {
  box-sizing: border-box;
}

.alImg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 80px 0;

  h3 {
    font-weight: 400;
  }

  textarea {
    border: 1px solid #979797;
    resize: none;
    margin: 15px 0;
  }

  form {
    div {
      padding: 10px 0;

      input {
        width: 400px;
        height: 50px;
        text-align: center;
      }

    }
  }


}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#logoImg {
  width: 100px;
  height: 100px;
}

#nameArticle {
  width: 500px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  color: #979797;
}

#descriptionArticle {
  width: 500px;
  height: 300px;
  text-align: center;
  padding-top: 10px;
  color: #979797;
}

#buttonSendMes {
  background-color: black;
  color: white;
  width: 500px;
  height: 50px;
}

#articles_img {
  padding: 15px 0 60px 0;
}