
{% block stylesheets %}

    <link rel="stylesheet" href="/adaptiveMenu/adaptiveMenu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

{% endblock %}

    <section class="adptiveMenu">

        <button class="menu-toggle"></button>
        <nav>
            <ul class="menu">
                <li data-text="Главная">Главная</li>
                <li data-text="Про нас">Про нас</li>
                <li data-text="Услуги">Услуги</li>
                <li data-text="Контакты">Контакты</li>
            </ul>
        </nav>

    </section>



