
{% block stylesheets %}
    <link rel="stylesheet" href="/adaptiveMenu/adaptiveMenu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
{% endblock %}

    <section class="adptiveMenu">
        <div class="containerMenu">
            <div class="header">
                <div>
                    <object type="image/svg+xml" data="/img/newLogoWhiteColor.svg" id="object" class="icon" width="45px" height="auto"></object>
                    <p id="webStudio">Web-Studio<br><b>OctoWice</b></p>
                    </div>
                <input class="nav-burger__checkbox" type="checkbox" id="burger">
                <label class="nav-burger" for="burger">Меню</label>

                <nav class="nav">
                    <a class="nav__item" href="{{ path('home') }}">Главная</a>
                    <a class="nav__item" href="{{ path('services') }}"><span>Услуги</span></a>
                    <a class="nav__item" href="{{ path('blog') }}">Блог</a>
                    <a class="nav__item" href="{{ path('home') }}#scrlO" onclick="document.getElementById('burger').checked = false"><span>Контакты</span></a>
                </nav>
            </div>
        </div>
    </section>

