
<footer>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 iconsMes">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 listF">
                <ul>
                    <a id="FotL" href="#">
                        <li>&copy;2018 OctoWice</li>
                    </a>
                    <a href="#">
                        <li>Главная</li>
                    </a>
                    <a href="#">
                        <li>О Нас</li>
                    </a>
                    <a href="#">
                        <li>Услуги</li>
                    </a>
                    <a href="#">
                        <li>Блог</li>
                    </a>
                    <a href="#">
                        <li>Контакты</li>
                    </a>
                    <a id="FotR" href="#">
                        <li>+38(066)010-51-78 <small>octowice@gmail.com</small></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>


</footer>