<div id="footer" class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 iconsMes">
                    <a  target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a  target="_blank" href="https://www.instagram.com/octowice/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a  target="_blank" href="#">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </div>
            </div>
            <div class="row Links">
                <div class="col-md-12 col-lg-12 listF">
                    <ul>
                        <li><a id="FotLf" href="{{ path('home') }}">&copy;2018 OctoWice</a></li>
                        <li><a href="{{ path('home') }}">Главная</a></li>
                        <li><a href="{{ path('services') }}">Услуги</a></li>
                        <li><a href="{{ path('blog') }}">Блог</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li id="octInf"><a href="#" id="FotRg">+38(066)010-51-78<br><small>octowice@gmail.com</small></a></li>
                    </ul>
                </div>
            </div>
    </div>
