
<header>

    <section class="headInf">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 headerB">
                    <ul>
                        <li>
                            <a id="app" href="{{ path('home') }}"><b>Главная</b></a>
                        </li>
                        <li><a href="{{ path('services') }}">Услуги</a></li>
                        <li>
                            <a href="/"><img id="imgInHL" src="/img/OctoLogo.svg" alt="logo" /></a>
                        </li>
                        <li><a href="{{ path('blog') }}">Блог</a></li>
                        <li><a id="bacRed" href="#form">Остались вопросы?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</header>
