
<header>


    {#<section class="adptiveMenu">#}

        {#<div class="container">#}
            {#<div class="header">#}
                {#<input class="nav-burger__checkbox" type="checkbox" id="burger">#}
                {#<label class="nav-burger" for="burger">Меню</label>#}

                {#<nav class="nav">#}
                    {#<a class="nav__item" href="#">Главная</a>#}
                    {#<a class="nav__item" href="#">Галерея</a>#}
                    {#<a class="nav__item" href="#">Отзывы</a>#}
                    {#<a class="nav__item" href="#">Контакты</a>#}
                {#</nav>#}
            {#</div>#}
        {#</div>#}

    {#</section>#}




    <section class="headInf">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 headerB">
                    <ul>
                        <li>
                            <a id="app" href="{{ path('home') }}"><b>Главная</b></a>
                        </li>
                        <li><a href="{{ path('aboutUs') }}">Про нас</a></li>
                        <li><a href="{{ path('services') }}">Услуги</a></li>
                        <li>
                            <a href="/"><img id="imgInHL" src="/img/OctoLogo.svg" alt="logo" /></a>
                        </li>
                        <li><a href="{{ path('blog') }}">Блог</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a id="bacRed" href="#">Остались вопросы?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</header>
