
<header>

    {#<section class="adptiveMenu">#}

        {#<button class="menu-toggle"></button>#}
        {#<nav>#}
            {#<ul class="menu">#}
                {#<li data-text="Home">Главная</li>#}
                {#<li data-text="Projects">Про нас</li>#}
                {#<li data-text="About">Услуги</li>#}
                {#<li data-text="Contact">Блог</li>#}
                {#<li data-text="Contact">Контакты</li>#}
            {#</ul>#}
        {#</nav>#}

    {#</section>#}


    <section class="headInf">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 headerB">
                    <ul>
                        <li>
                            <a id="app" href="{{ path('home') }}"><b>Главная</b></a>
                        </li>
                        <li><a href="{{ path('aboutUs') }}">Про нас</a></li>
                        <li><a href="{{ path('services') }}">Услуги</a></li>
                        <li>
                            <a href="/"><img id="imgInHL" src="/img/OctoLogo.svg" alt="logo" /></a>
                        </li>
                        <li><a href="{{ path('blog') }}">Блог</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a id="bacRed" href="#">Остались вопросы?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</header>
